extends admin_layout
block content
	.row
		.col-lg-6
			h1 List of users
		.col-lg-3
		.col-lg-3
			form(method="post",action="/admin/user/user")
				input(type='hidden',name='_csrf',value=csrfToken)
				input.form-control(type='text',name='username',placeholder='search by username',required='true',autofocus='true')
				span 
				button.btn.btn-success(type='submit') Search
	if msg
		h1 #{msg}
	if errMsg
		label.alert.alert-danger #{errMsg}
	div.table-responsive
		table.table.table-bordered.table-striped.table-condensed
			thead
				tr
					th First name
					th Last name
					th Username
					th Email
					th Phone number
					th Alternate phone number
					th Joined date
					th Main balance
					th Bonus
					th Total balance
					th Withdrawable balance
					th Actions
			tbody
			if user
				tr
						td #{user.firstname}
						td #{user.lastname}
						td #{user.username}
						td #{user.email}
						td #{user.phone_number}
						td #{user.alternate_phone_number}
						td #{user.joinedDate}
						td N #{user.balance.toFixed(2)}
						td N #{user.bonus.toFixed(2)}
						td N #{user.total_balance.toFixed(2)}
						td N #{user.withdrawable_balance.toFixed(2)}
						td 
							a(href= '/admin/credit_account?username=#{user.username}') credit account
			if users
				each user,i in users
					tr
						td #{user.firstname}
						td #{user.lastname}
						td #{user.username}
						td #{user.email}
						td #{user.phone_number}
						td #{user.alternate_phone_number}
						td #{user.joinedDate}
						td N #{user.balance.toFixed(2)}
						td N #{user.bonus.toFixed(2)}
						td N #{user.total_balance.toFixed(2)}
						td N #{user.withdrawable_balance.toFixed(2)}
						td 
							a(href= '/admin/credit_account?username=#{user.username}') credit account
						

