extends layout
block content
	.container
		.row
			.col-lg-4
			.col-lg-4
				if msg
					label.alert.alert-danger #{msg}
				if confirmMsg
					label.alert.alert-success #{confirmMsg}
				fieldset
					legend Please fill in your funding details
					if errors
						ul.errors
							each error,i in errors
								li.alert.alert-danger #{error.msg}
					form(method='post',action='/fund_bet/fund_bet')
						input(type='hidden',name='_csrf',value=csrfToken)
						.form-group
							sup *
							label Betting username
							input.form-control(type='text',placeholder='your username for betting',name='username',autofocus=true,required='true')
						.form-group
							sup *
							label Betting company
							select.form-control(name='bet_company')
								option select your betting company
								option Bet9ja
								option Nairabet
								option Surebet247
								option Merrybet
								option Supabet
						
						.form-group
							sup *
							label Amount
							input.form-control(type='number',placeholder='how much do you want to fund?',name='amount',required='true')
						br
						button.btn.btn-success(type='submit') Fund bet

			.col-lg-4